.welcome-image{
    height: 80vh;
}
.w-pp{
    display: flex;
    margin-top: 2rem;
    padding: 20px 50px;
}
.left-pp{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.right-pp{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 1rem; 
    text-align: justify;
    justify-content: center;
}

.w-s{
    display: flex;
    /* width: 100vh; */
    gap: 2rem;
    overflow: auto;
}



.wel-h{
    font-size: 3rem;
}
/* .hide-btn>button{
    padding: 6px 15px;
    border-radius: 10px;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;

    
} */
.hide-btn{
    display: none
}
    @media screen and (max-width:768px){
      .w-pp{
        flex-direction: column;
        padding: 10px 25px;
      }
      .left-pp{
        align-items: flex-start;
      }
      .wel-h{
        font-size: 2rem;
      }
      
    }

 