.main-contactBox{
    width: 100%;
    height: 5.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #FFF;
    padding: 0 1rem ;
}
.contactBox-wrapper{
    width: calc(60% - 10px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    gap: 1.5rem;
}
.contactBox-wrapper h1{
    color: white;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 1.5625rem */
}
.contact-circle{
    width: 1.4375rem;
    height: 1.4375rem;
    flex-shrink: 0;
    border: 1px solid #634831;
    border-radius: 50%;
}