.main-prefooter{
    width: 100%;
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 ;
}
.main-prefoot-content{
    width: 80%;
    min-height: 18rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, #4C341F 0%, #75553A 100%);
    box-shadow: 0px 1.01972px 4.07887px 0px rgba(255, 255, 255, 0.08) inset, 0px 0px 32.63093px 0px rgba(255, 255, 255, 0.04) inset;
    backdrop-filter: blur(45.88724899291992px);
    display: flex;
}
.pre-left{
      flex: 1 0 200px;
      padding: 2rem 0;
     
      padding-left: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
}
.pre-left-title{
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: left;
}
.pre-left-para{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.pre-right{
    flex:1 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
}
.pre-contact{
    width: 15rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    outline: none;
    border:none;
    color: #4C341F;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.48119rem;
    cursor: pointer;
    transition: all 0.5s ease;
}


/* Responsivenes --------------------> */
@media screen and (min-width:1921px){
    .main-prefoot-content{
        max-width: 1550px;
    }
}
@media screen and (max-width:1200px) {
    .pre-left{
        padding-left: 6rem;
    }
    .pre-right{
        padding-left: 6rem;
    }
    .pre-left-title{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .pre-left-para{
        font-size: 1rem;
    }
    .pre-contact{
        width: 40%;
        font-size: 1.2rem;
    }
}
@media screen and (max-width:768px) {
    .pre-left{
        margin: 3rem 0;
        padding:0 2rem;
    }
    .pre-left-title{
        font-size: 1.5rem;
    }
    .pre-left-para{
        font-size: 1rem;
    }
    .pre-right{
        flex: 1 0 100px;
        padding: 0 2rem;
        justify-content: flex-start;
    }
    .pre-contact{
        width: 60%;
        height: 3rem;
        font-size: 1rem;
        margin-bottom: 25px;
    }
}
@media screen and (max-width:480px) {
    .main-prefoot-content{
        flex-direction: column;
        border-radius: 1rem;
    }
    .pre-left{
        flex: 1 0 150px;
        margin: 1rem 0;
        padding:0 2rem;
        justify-content: center;
        gap: 5px;
    }
    .pre-left-title{
        font-size: 1.5rem;
    }
    .pre-left-para{
        font-size: 1rem;
    }
    .pre-right{
        flex: 1 0 80px;
        padding: 0 2rem;
        justify-content: flex-start;
    }
    .pre-contact{
        width: 50%;
        height: 3rem;
        font-size: 1rem;
        margin-bottom: 25px;
    }
}