.App {
  text-align: center;
  font-family: poppins;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width:2000px) {
  .xyz{
    max-width: 1800px;
  }
}

@media screen and (min-width:1920px) {
  .m-w-c{
    max-width: 1920px;
  }
  .highlights{
    align-items: center;
  }
  .top-container-left>:nth-child(1){
    width: 60%;
  }
  .top-container-right>li>ul{
    font-size: 20px;
  }
  .top-image {
    height: 40vh;
 }
 
 
}
